body {
    background: #000000 !important;
    text-align: center;
    overflow: hidden;
}
/* Unused CSS "heartbeat"-animation */
@keyframes beat {
    to {
        transform: scale(1.1);
    }
}

/* Styles for all the pet-div-headers */
.petHeader {
    color: #FFFFFF;
    text-shadow: 2px 2px #000000;
    z-index: 100;
    /*animation: beat .75s infinite alternate;*/
    transform-origin: center;
}

/* Class for the styles in common for all the looped pet-divs. */
.petContainer {
    text-align: center;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 1;
}
